.Navigation-Bar {
    display: flex;
    align-items: center;
}

.Title {
    display: inline;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}

.Title:link {
    text-decoration: none;
}

.Button-Container {
    height: 100%;
}

.Navigation-Bar,
.Home-Button,
.Play-Button,
.Leaderboard-Button {
    background-color: #2C2C2C;
}

.Home-Button,
.Play-Button,
.Leaderboard-Button {
    color: white;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.Home-Button:hover,
.Play-Button:hover,
.Leaderboard-Button:hover {
    background-color: #3E3E3E;

}

/* Add this to your NavigationBar.css file */
.Burger-Icon {
    display: none;
    cursor: pointer;
}

/* Styling for the burger icon */
.Burger-Icon div {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Styles for the menu items when the menu is open */
.Burger-Menu-Open .Button-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    position: absolute;
    top: 60px;
    /* Adjust the top position according to your design */
    left: 0;
    right: 0;
    z-index: 1;
    padding: 10px;
    border-bottom: 1px solid #555;
}

/* Display burger menu when the screen width is less than 768px */
@media (max-width: 590px) {
    .Title {
        margin-left: 60px;
    }

    .Burger-Icon {
        display: block;
    }

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}